* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to top, #ada996 0%,#eaeaea 100%);
}


img {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 20px;
    border-radius: 30px;
}

header {
    background-image: linear-gradient(to top, #ada996 0%,#eaeaea 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    box-shadow: 0px 5px 4px 3px rgba(73, 66, 51, 0.3);
    margin-bottom: 20px;
}

h1 {
    margin-top: 30px; 
    margin-bottom: 50px;
    color: #8f7e70 ;
    font-family: 'Poiret One', cursive;
    font-size: 75px;
    letter-spacing: 10px;
    text-align: center;
}

h3 {
    font-family: 'Poiret One', cursive;
    letter-spacing: 3px;
    text-align: center;
}
#boton-carrito {
    font-family: 'Poiret One', cursive;

    border: none;
    color: rgb(124, 114, 100);
    font-size: 30px;
    background-color: white;
    border-radius: 10%;
    padding: 10px 20px;
    transition: all .3s;

}
#boton-carrito:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(82, 69, 64);
}
#boton-carrito:focus {
    outline: none;
    
}

#contenedor-productos {
    max-width: 1200px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

p {
    font-family: 'Poiret One', cursive;
    line-height: 1.8;
    text-align: center;
}

.producto {
    background-color: white;
    border-radius: 50px;
    width: 300px;
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 6px 3px 3px rgb(177, 171, 165);
}


.precioProducto {
    font-weight: 700;
}
.boton-agregar {
    background-color: rgb(231, 213, 154);
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 12px;
    border-radius: 25px;
    justify-content: center;
}
.boton-agregar:hover {
    cursor: pointer;
}
.boton-agregar:focus {
    outline: none;
}

.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.modal-active {
    opacity: 1;
    visibility: visible;
}

.modal-carrito {
    position: relative;
    background-color: white;
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
}

.modal-active .modal-carrito {
    margin-top: 0;
}

.modal-carrito h3 {
    color: rgb(218, 166, 145);
    padding-bottom: 5px;
}
.modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: rgb(204, 153, 123);
    border: none;
    background-color: white;
}
.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
    outline: none;
}
.modal-carrito .precioProducto {
    padding-top: 10px;
    
}

.productoEnCarrito {
    border-left: 5px solid lightblue;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}
.productoEnCarrito:hover {
    border-left: 5px solid rgb(247, 218, 157);
}

.boton-eliminar {
    background-color: white;
    color: rgb(185, 95, 95);
    border: none;
    font-size: 20px;
}

.boton-eliminar:hover {
    cursor: pointer;
}
.boton-eliminar:focus {
    outline: none;
}